<div id="my_search" class="ra">
  <%= form_tag eval("#{controller_name}_path"), :method => "get" do %>
    <%= auto_complete_field_tag_jquery(:search, params[:search]) %>
    <button id='submit_search' style="font-size: 12px;">Search</button>
  <% end -%>
</div>
